body {background-color: rgb(38, 68, 138); border-color: black; border-style: none; border-left: 50px;}
h1 {text-align: center;color: darkgoldenrod; border-top-color: black; border-top-width: 80px; border-top-style: inset; 
    background-color: black; font-size: 60px;}
h2 {text-align: left; color: rgb(80, 24, 133); background-color: black; font-size: 40px; text-align: center; 
    }
ul {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; font-size: 25px; text-align: 
    left;background-color: rgb(142, 103, 5);text-align: center;margin-left: 200px;margin-right: 200px;}
p {font-size: 30px; color: black; text-align: left; background-color: rgb(142, 103, 5);margin-left: 100px;
    margin-right: 100px;}
i {text-align: left;}
a {background-color: black; font-size: 40px;}
#iframeRow iframe {border: 1px groove black;}
input {border: 10px rgb(142, 103, 5) groove;}
.body a {color: rgb(80, 24, 133); background-color: black; text-transform: uppercase;}
.body h2 { background-color: black; color: rgb(80, 24, 133); font-size: 30px;font-style: italic;}
table, th, td {padding: 5px; background-color: rgb(80, 24, 133); margin-left: 100px;border: 5px solid black; color: darkgoldenrod;}
#introWorkshop li {text-align: left; color: rgb(142, 103, 5);}
#introWorkshop p {text-align: center; 
    font-family: fantasy, cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;}
button:hover { background-color: rgb(142, 103, 5); font-variant: small-caps; }
.button:active a {background-color: rgb(142, 103, 5); color: rgb(142, 103, 5); border: 20px rgb(142, 103, 5) groove;}
button { width: 100%; background-color: inherit; padding-top: 10px; padding-bottom: 10px;}
#hoverButtons a {font-family: 'FingerPaint-Regular', fantasy, cursive ;}
.button a {
    background-color: rgb(142, 103, 5);
    border: 20px black groove;
    color: black;
    font-size: 40px;
    padding: 20px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-variant: initial;
                }

@font-face {
    font-family: 'RubikWetPaint-Regular';
    src: url(https://dreamhead1.github.io/MART341-WebDesign/Assignment11/workshop/fonts/RubikWetPaint-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'FingerPaint-Regular';
    src: url(https://dreamhead1.github.io/MART341-WebDesign/Assignment11/workshop/fonts/FingerPaint-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Ephesis-Regular';
    src: url(https://dreamhead1.github.io/MART341-WebDesign/Assignment11/workshop/fonts/Ephesis-Regular.ttf) format('truetype');
}

/*
.button:hover {
  background-color: orange; /* Green 
  color: white; 
  font-variant: small-caps;
    background-color: white;
    border: thin;
    color: black;
    border: 2px solid orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-variant: inital;
*/
